<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
    <title>Home</title>
  </head>
  <body>
    <h1> Consulta de Exames </h1>
      <form action="/token_search" method="get" class="search">
        <input name="token" type="text" placeholder="Busque pelo Token" class="search_info"/>
      </form>
      <br>
    <table>
      <thead>
        <tr>
          <th>Token</th>
          <th>CRM Médico</th>
          <th>Nome</th>
          <th>Cpf</th>
          <th>Endereço</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Tipo</th>
          <th>Limites</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tbody id="results">
      </tbody>
    </table>
    <script src="./script.js"></script>
  </body>
</html>
