
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 1rem 0 3rem 1rem;
  padding: 0 1rem;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 62,5%;
  background-image: linear-gradient(to bottom, #996dc2, #ac9bbd);
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th, tr {
  border: 1px solid #ddd;
  padding: 8px;
}

thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a77aa7;
}

tr#line:hover {background-color: #ddd;}
